################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LoggerMicroService/bin/Debug
/LoggerMicroService/obj
/LoggerMicroService.Test/bin/Debug/net5.0
/LoggerMicroService.Test/obj
